body{
    margin: 0px;
    background-image: url('Back_img.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:100% 100%;
    overflow-x: hidden;
    display: grid;
    grid-template-rows:1fr 10fr;
    align-items: center;
    height: 100vh;
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.SideBar{
    display: grid;
    grid-template-rows: 2fr 6fr 2fr;
    position: fixed;
    right: -45%; 
    width: 30%;
    height: 100%;
    background:black;
    opacity: 0.7;
    row-gap: 30px;
    transition: all 0.8s ease;
    top: 0%;
    
}
.Items{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;

   
}
.NavItem a{
    color: white;
    font-size:130%;
    font-family:Arial, Helvetica, sans-serif;
    opacity:2;
}
.NavItem a i{
    color: white;
   margin-right: 3%;
}
.NavItem{
   
   text-align: center;
   box-sizing: border-box;
   align-content: center;
   border-top: 1px solid rgba(255,255,255,.1);
   border-bottom: 1px solid black;
}
.NavItem:hover{
    color: white;
    background-color: black;
    scale: 1.02;
    transition-duration: 0.5s;
    opacity:1;
}
#check{
    display: none;
}

label #btn, label #cancel{
    position: absolute;
    cursor: pointer;
}
label #btn{
    right:2%;
    top: 3%;
    font-size: 35px;
    color: white;
    transition: all 0.5s ease;
   
}
.Logo-Name{
    color: white;
    margin-left: 50px;
    margin-top: 20px;
    font-size: xx-large;
    transition: all 0.5s ease;
    font-family:cursive;
}
label #cancel{
    z-index: 1111;
    display: none;
    top:3%;
    color:white;
    font-size: x-large;
   
}

#check:checked ~ .SideBar{
    right: 0%;
}
#check:checked ~ label #btn{
    right: 40%;
    opacity: 0;
    pointer-events: none;
}
#check:checked ~ label #cancel{
     right:25%;
     display: block;
     animation-name:slideLeft;
     animation-duration: 0.8s;
}
@keyframes slideLeft{
    from{transform:translateX(4000%)}
}
.Content{
    margin-right: 30%;
    color: white;
    margin-left: 2%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.Title{
    font-size: 500%;
    text-shadow:4px 4px 4px #000000;
    padding-bottom: 20px;
  
}
.Subtitle{
    font-size: 200%;
    text-shadow:3px 3px 4px #000000;
    padding-bottom: 20px;
   
}
.GetStarted{
    color: white;
    background-color: black;
    font-size: 150%;
    border-radius:110px;
    border-color: black;
    padding:15px 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
